.board {
  transition: transform 0.3s ease-in-out;
  --rotation: 0deg;
  transform: translate3d(
      var(--cameraPositionX),
      var(--cameraPositionY),
      var(--cameraPositionY)
    )
    rotateX(var(--rotation));
  transform-origin: center bottom;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.with3D {
  --rotation: 45deg;
}
