.settings {
  display: flex;
}

.alignRight {
  justify-content: flex-end;
}

.button {
  position: relative;
  padding: 16px;
  cursor: pointer;
  background: none;
  border: 0;
}

.button:hover {
  background: rgba(var(--white-channel), 0.1);
}

.active::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 12px solid var(--darkGrey);
  border-top: 0;
  transform: translateX(-50%);
}
