:root {
  --white-channel: 255, 255, 255;
  --white: rgb(var(--white-channel));
  --black-channel: 0, 0, 0;
  --black: rgb(var(--black-channel));
  --darkGrey-channel: 29, 26, 26;
  --darkGrey: #1d1a1a;
  --midGrey-channel: 29, 26, 26;
  --midGrey: #a3a3a3;
  --lightGrey-channel: 204, 204, 204;
  --lightGrey: #cccccc;

  --leather: #372114;
  --water: #50869f;
  --grass: #7e851e;
  --stone: #939393;
  --sand: #ac937f;
  --forest: #55851e;
  --ore: #5b594f;
}

body {
  background: var(--darkGrey);
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
